[*.{cs,vb}]

# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = false

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# CA2101: Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2101.severity = none

# SYSLIB1054: Use 'LibraryImportAttribute' instead of 'DllImportAttribute' to generate P/Invoke marshalling code at compile time
dotnet_diagnostic.SYSLIB1054.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
